
moc_playercontrols.o

*.o

moc_player.cpp

moc_playercontrols.cpp

moc_playlistmodel.cpp

moc_receiveosc.cpp

sonig.app/Contents/Info.plist

sonig.app/Contents/MacOS/sonig

sonig.app/Contents/PkgInfo

sonig.app/Contents/Resources/empty.lproj
